<div class="example-container mat-elevation-z8">

    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
  
    <mat-card class="example-card">
      
      <mat-card-header>         
        <mat-card-title><h5>Senha atual</h5></mat-card-title>
        <mat-card-title class="my-classes"><h3>{{senhaGerada.codigo}}</h3></mat-card-title>
        <mat-card-title *ngIf="!senhaGerada.codigo" class="my-classes"><h3>{{senhaChamada.codigo}}</h3></mat-card-title>
      </mat-card-header>
      
      <mat-card-actions>
        <button mat-flat-button color="primary" (click)="reiniciaSenha('N')" class="my-class"><mat-icon>edit</mat-icon> Reiniciar Senha Normal</button>
        <button mat-flat-button color="warn" (click)="reiniciaSenha('P')" class="my-class"><mat-icon>edit</mat-icon> Reiniciar Senha Preferencial</button>
        <button mat-flat-button color="accent" class="teste" (click)="chamaProximaSenha('N')" class="my-class"><mat-icon>edit</mat-icon> Chamar Próxima Senha</button>
      </mat-card-actions>
   
    </mat-card>
    
  </div>