<div class="example-container mat-elevation-z8">

  <div class="example-loading-shade"
       *ngIf="isLoadingResults">

    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>

  </div>

  <mat-card class="example-card">
    
    <mat-card-header>     

      <mat-card-title><h5>Última senha chamada</h5></mat-card-title>
      <mat-card-title *ngIf="senhaChamada.codigo" class="my-class"><h3>{{senhaChamada.codigo}}</h3></mat-card-title>
      <mat-card-title *ngIf="senhaChamada.codigo==0" ><h6>Ops!</h6></mat-card-title>
      <mat-card-title *ngIf="senhaChamada.codigo==0" ><h6>Acesse: [Menu "Gerar senha" -> Botão "Gerar Senha Normal"] -> [Menu "Chamar senha" -> Botão "Chamar Próxima Senha"];</h6></mat-card-title>
      
    </mat-card-header>
     
  </mat-card>
  
</div>