<div class="example-container mat-elevation-z8">

  <div class="example-loading-shade"
       *ngIf="isLoadingResults">

    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>

  </div>

  <mat-card class="example-card">
    
    <mat-card-header>
      
      <mat-card-title *ngIf="senhaGerada.codigo"><h5>Minha senha</h5></mat-card-title>
      <mat-card-title *ngIf="!senhaGerada.codigo"><h4>Retire sua senha</h4></mat-card-title>
      <mat-card-title class="my-class"><h3>{{senhaGerada.codigo}}</h3></mat-card-title>

    </mat-card-header>
    
    <mat-card-actions>

      <button mat-flat-button color="primary" class="teste" (click)="geraSenha('N')" class="my-class"><mat-icon>edit</mat-icon> Gerar Senha Normal</button>
      <button mat-flat-button color="warn" (click)="geraSenha('P')" class="my-class"><mat-icon>edit</mat-icon> Gerar Senha Preferencial</button>
    
    </mat-card-actions>
 
  </mat-card>
  
</div>